# .NET build output
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# User specified ignores
MyWebApp/obj/
MyWebApp/bin/

# NuGet packages
*.nupkg
.nuget/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.iml

# Rider files
.idea/
*.sln.iml

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/


# logs
logs/